<!-- Image and text -->

        <section class="toolbar">
            <div class="pamba-buscador">            
                <!-- <button class="btn btn-defaul-bootstrap-3" type="button"> {{'top-bar.sarch_bar_go'| translate}}</button>-->
                <span class="icon"><i class="fa fa-search"></i></span>
               <input type="text" placeholder="{{'top-bar.sarch_bar_placeholder'| translate}}">
               
         </div>

             <div>
                 <select #langselect (change)="translate.use(langselect.value)" >
                     <option *ngFor="let lang of translate.getLangs()" value="{{lang}}"> {{lang}}</option>
                 </select>
             </div>
        </section>

    