/*


@media (max-width:600px){

    .location-text-media {
        font-size:10px !important;
        vertical-align: middle;
    }


}
@media (max-width:1025px){

    .main-image-media {
        max-width: 25% !important;
        max-height: 6% !important;
    }

}

@media (max-height:500px){

    .main-image-side-media {
        max-height: 10% !important;
    }

}*/

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fafafa;
    border-bottom: solid 2px #dfdfdf;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 1%;
   
}


.pamba-buscador > input{
    border-radius: 24px;
    border: 2px solid transparent;
    width: 50vw;
    height: 5.5vh;
    outline: none;
    text-align: center;
    background-color: #dfdfdf;
}

.pamba-buscador > span {
    position: absolute;
    cursor: pointer;
    margin: 0.3% 0 0 1%;
    z-index: 2;
    height: 5vh;
}

