
@import '../sass/variables.scss';

/*********************************FONTS**********************************/


@font-face {
    font-family: LeagueSpartan_Bold;
    src: url("/assets/font/LeagueSpartan-Bold.otf") format("truetype");
}


@font-face {
    font-family: Monserrat_Light;
    src: url("/assets/font/Monserrat_Light.otf") format("truetype");
}


/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-color: #fafafa;
    gap: 2%;
    overflow-x: hidden;
}

#left {
    width: 25%;
}

#home {
    height: 100%;
}
#body-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    gap: 2%;
}

#empty {
    background-color: #fafafa;
}

