<section id="main-section">
  <left-bar id="left"></left-bar>
  <section id="body-section">
    <top-bar id="top"></top-bar>
    <section id="home">
      <router-outlet></router-outlet>
  </section>  
  </section>
  <section id="empty">

  </section>
</section>
