<div id="leftBar" style="height: 100%;">
  <mat-toolbar color="primary" fxShow="true" fxHide.gt-sm>
    <mat-toolbar-row >
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container id="sidenav-container" fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>ssss
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content" fxFlexFill>
      <mat-nav-list>
        <a class="navbar-brand main-image main-image-media main-image-side-media" href="/">
          <img src="https://b2b.tecnoturis.es/assets/images/firma_Tecnoturis.png" alt="Atrezzo Mateos logo">
      </a>
        <a class="nav-link  item-menu item-menu-hover" id="v-pills-profile-tab" data-toggle="pill" routerLink="catalog" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{'left-bar.menu_elemnt_catalog' | translate}}</a>
        <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_contact' | translate}}</a>
        <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="http://atrezzomateos.com/atrezzo-mateos-bio/" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_know_us' | translate}}</a>
      </mat-nav-list>


    <mat-form-field>
      <mat-label>{{'left-bar.categories_categories' | translate}}</mat-label>
      <mat-select (selectionChange)="selectCategory($event, 0)" [(ngModel)]="categoriesService.selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category" >{{'categories.' + category.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field *ngIf="lvl1Subcategories && lvl1Subcategories.length">
      <mat-label>{{'left-bar.categories_subcategories' | translate}}</mat-label>
      <mat-select (selectionChange)="selectCategory($event, 1)"  [(ngModel)]="categoriesService.selectedLvl1Subcategories" [multiple]="true">
        <mat-option *ngFor="let subcategory of lvl1Subcategories" [value]="subcategory" >{{'categories.' + subcategory.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field *ngIf="lvl2Subcategories && lvl2Subcategories.length">
      <mat-label>{{'left-bar.categories_types' | translate}}</mat-label>
      <mat-select (selectionChange)="selectCategory($event, 2)" [(ngModel)]="categoriesService.selectedLvl2Subcategories" [multiple]="true">
        <mat-option *ngFor="let subcategory of lvl2Subcategories" [value]="subcategory">{{'categories.' + subcategory.value | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <a mat-button class="width-100" *ngIf="lvl1Subcategories" (click)="clearCategories()">{{'left-bar.categories_clearSubcategories' | translate}}</a>
    
    <div>
      <mat-label>{{'left-bar.height' | translate}}</mat-label>
      <div style="display: flex;">
        <mat-form-field appearance="fill" style="width: 40%">
          <mat-label>{{'left-bar.min' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.altura']?.$gte" (ngModelChange)="updateFilters('dimensiones.altura', $event, '$gte')">
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="width: 40%; margin-left: 10px;">
          <mat-label>{{'left-bar.max' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.altura']?.$lte" (ngModelChange)="updateFilters('dimensiones.altura', $event, '$lte')">
        </mat-form-field>
      </div>
    </div>
  
    <div>
      <mat-label>{{'left-bar.width' | translate}}</mat-label>
      <div style="display: flex;">
        <mat-form-field appearance="fill" style="width: 40%">
          <mat-label>{{'left-bar.min' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.anchura']?.$gte" (ngModelChange)="updateFilters('dimensiones.anchura', $event, '$gte')">
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="width: 40%; margin-left: 10px;">
          <mat-label>{{'left-bar.max' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.anchura']?.$lte" (ngModelChange)="updateFilters('dimensiones.anchura', $event, '$lte')">
        </mat-form-field>
      </div>
    </div>
  
    <div>
      <mat-label>{{'left-bar.depth' | translate}}</mat-label>
      <div style="display: flex;">
        <mat-form-field appearance="fill" style="width: 40%">
          <mat-label>{{'left-bar.min' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.profundidad']?.$gte" (ngModelChange)="updateFilters('dimensiones.profundidad', $event, '$gte')">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 40%; margin-left: 10px;" >
          <mat-label>{{'left-bar.max' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.profundidad']?.$lte" (ngModelChange)="updateFilters('dimensiones.profundidad', $event, '$lte')">
        </mat-form-field>
      </div>
  </div>

  <a mat-button class="width-100" (click)="clearFilters()">{{'left-bar.categories_clearFilters' | translate}}</a>
    

      <a  id="maps-group" target="_blank" href="https://www.google.com/maps/place/Atrezzo+Mateos+SL/@40.3404415,-3.8131467,17z/data=!3m1!4b1!4m5!3m4!1s0xd41894a0e47d287:0xe807decb009f8ed7!8m2!3d40.3404415!4d-3.810958">
        <div class="google-maps-icon">
            <img height="47vh" alt="Atrezzo Mateos logo" src="https://s3.amazonaws.com/images.seroundtable.com/google-maps-icon-1580992464.png">
        </div>
        <div class="google-link-ref">
            <span class="location-text-media">
                {{'top-bar.address_line_1'| translate}}<br>
                {{'top-bar.address_line_2'| translate}}<br>
                {{'top-bar.address_line_3'| translate}}
            </span>
        </div>
    </a>

        <mat-form-field appearance="fill" style="width: 40%; margin-left: 10px;">
          <mat-label>{{'left-bar.max' | translate}}</mat-label>
          <input matInput type="number" min="0" [ngModel]="productService.leftBarFilters['dimensiones.profundidad']?.$lte" (ngModelChange)="updateFilters('dimensiones.profundidad', $event, '$lte')">
        </mat-form-field>

    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
