<section class="background-left-bar">
    <h3 style="padding-top: 5%; padding-left: 0.5rem" class="menu-lateral-title">{{'left-bar.menu_titulo' | translate}}</h3>
    <!--ul class="nav ">
        <li role="presentation" [ngClass]="{'active': currentView=='home'}" (click)="navigate('home')"><a class="no-border">Pamba-market</a></li>
        <li role="presentation" [ngClass]="{'active': currentView=='profile'}" (click)="navigate('profile')"><a class="no-border">Perfil</a></li>
        <li role="presentation" [ngClass]="{'active': currentView=='messages'}" (click)="navigate('messages')"><a class="no-border">Mensajes</a></li>
        <li role="presentation" [ngClass]="{'active': currentView=='myProducts'}" (click)="navigate('myProducts')"><a class="no-border">Mis productos</a></li>
    </ul-->
  
    <img  style="width: 90%; margin-top: -5%; margin-bottom: -5%" alt="separador" src="http://imagenes.comugamers.com/images/2018/11/15/separador-png-2.png">
  
    <div style="margin-top: 5%" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link item-menu-active item-menu item-menu-hover" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{'left-bar.menu_element_home' | translate}}</a>
      <a class="nav-link  item-menu item-menu-hover" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{'left-bar.menu_elemnt_catalog' | translate}}</a>
      <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_contact' | translate}}</a>
      <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_know_us' | translate}}</a>
    </div>
  <section>
      