<!--section class="background-left-bar">
  <h3 style="padding-top: 5%; padding-left: 0.5rem" class="menu-lateral-title">{{'left-bar.menu_titulo' | translate}}</h3>


  <img  style="width: 90%; margin-top: -5%; margin-bottom: -5%" alt="separador" src="http://imagenes.comugamers.com/images/2018/11/15/separador-png-2.png">

  <div style="margin-top: 5%" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link item-menu-active item-menu item-menu-hover" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{'left-bar.menu_element_home' | translate}}</a>
    <a class="nav-link  item-menu item-menu-hover" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{'left-bar.menu_elemnt_catalog' | translate}}</a>
    <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_contact' | translate}}</a>
    <a class="nav-link item-menu item-menu-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'left-bar.menu_element_know_us' | translate}}</a>
  </div>
<section-->


    <!--ul class="nav ">
      <li role="presentation" [ngClass]="{'active': currentView=='home'}" (click)="navigate('home')"><a class="no-border">Pamba-market</a></li>
      <li role="presentation" [ngClass]="{'active': currentView=='profile'}" (click)="navigate('profile')"><a class="no-border">Perfil</a></li>
      <li role="presentation" [ngClass]="{'active': currentView=='messages'}" (click)="navigate('messages')"><a class="no-border">Mensajes</a></li>
      <li role="presentation" [ngClass]="{'active': currentView=='myProducts'}" (click)="navigate('myProducts')"><a class="no-border">Mis productos</a></li>
  </ul-->




  <!--section class="background-left-bar">
      <mat-toolbar class="nav-bar-blue-border toolbar" style="height: 100%">
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
      </mat-toolbar>

  </section>

  <mat-sidenav-container fxFlexFill style="width: 20%">
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a href="#" mat-list-item>Menu Item 1</a>
          <a href="#" mat-list-item>Menu Item 2</a>
          <a href="#" mat-list-item>Menu Item 3</a>
          <a href="#" mat-list-item>Menu Item 4</a>
          <a href="#" mat-list-item>Menu Item 5</a>
          <a href="#"mat-list-item>Menu Item 6</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
    </mat-sidenav-container-->




    <section class="background-left-bar">
        <mat-toolbar class="nav-bar-blue-border toolbar" style="height: 100%">
        
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
              </button>
              <span>Responsive Navigation</span>
              <span class="menu-spacer"></span>
              <div fxShow="true" fxHide.lt-md>
                
                <a href="#" mat-button>Menu Item 1</a>
                <a href="#" mat-button>Menu Item 2</a>
                <a href="#" mat-button>Menu Item 3</a>
                <a href="#" mat-button>Menu Item 4</a>
                <a href="#" mat-button>Menu Item 5</a>
                <a href="#" mat-button>Menu Item 6</a>
              </div>
        
        </mat-toolbar>
      
        <mat-sidenav-container fxFlexFill>
            <mat-sidenav #sidenav>
              <mat-nav-list>
                <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
                <a href="#" mat-list-item>Menu Item 1</a>
                <a href="#" mat-list-item>Menu Item 2</a>
                <a href="#" mat-list-item>Menu Item 3</a>
                <a href="#" mat-list-item>Menu Item 4</a>
                <a href="#" mat-list-item>Menu Item 5</a>
                <a href="#"mat-list-item>Menu Item 6</a>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
          </mat-sidenav-container>
      
        </section>
          