#sidenav-container{
    width: 100%;
    border: 2px;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.5);
    background-color: #fafafa;
}

#sidenav-content {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    
}

.main-image > img {
    width: 100%;
}

#sidenav-content > .mat-form-field {
    width: 100%;
    padding: 5%;
    
}

.mat-nav-list {
    width: 100%;
}

.mat-nav-list > a{
    width: 100%;
    border-bottom: solid 1px #dfdfdf;
    font-weight: bold;
}

a:hover:not(.main-image, #maps-group){
    background-color:  #dfdfdf;
    text-decoration: none;
    color: #0056b3;
    font-weight: 500;
}

a {
    padding: 5%;
}

#maps-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.google-link-ref {
    text-align: center;
}

/*
.background-left-bar{
    background-color: #dbdbdb;
    height: 100%;
    border-right: solid;
    border-width: 1px;
    border-color: darkgray;
    /* height:96.3vh;
}

.menu-lateral-title{
    padding: 2%;
    margin: 0;
    font-family: "unitcomp";
}

.no-border{
    border-radius: 0px;
}

.item-menu-hover:hover {
    background-color: lightgrey;
    color: black;
}

.active {
    
}

.item-menu {
    color: #337ab7;
    font-size: 16.5px;
    padding-right: 0.5rem;
}


.item-menu-active {
    background-color: whitesmoke;
    color: black;
    /*color: whitesmoke !important;
    background-color: rgba(51, 122, 183, 0.9) !important;
}*/