@import './variables';
@import './mixins';


.disp-flex {
    display: flex;
}

.padding-top-15-per {
    padding-top: 15%;
}

.margin-top-40-per {
    margin-top: 40%;
}

.margin-left-minus-60-per {
    margin-left: -60%;
}

.width-100 {
    width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mouse-pointer {
    cursor: pointer;
}


