
<section id="home-content">
    <h2>{{'home.superior_title' | translate}}</h2>
    <img alt="Portada" src="http://atrezzomateos.com/wp-content/uploads/2018/09/MG_7173-compressedandcut5.jpg">
    <h2>{{'home.inferior_title' | translate}}</h2>
</section>

