#home-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#home-content > img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#home-content > h2{
    color: #fff;
    font-family: 'Droid Sans';
    text-align: center;
    background-color: #222629;
    z-index: 2;
    margin: 0%;
}

