<section style="height: auto; padding: 15px;">
  <mat-grid-list cols="10" rowHeight="1:3.7" gutterSize="10px">
    <mat-grid-tile [colspan]="6" [rowspan]="1" [style.background]="'lightblue'" style="border-radius: 10px;">
      <!--Imagen-->
      <mat-carousel
      timings="250ms ease-in"
      [autoplay]="false"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="75"
      slides="5"
      [loop]="false"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
      style="height: 100%; width: 100%;"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let image of producto.img; let i = index"
        [image]="image"
        overlayColor="#00000040"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"  style="border-radius: 10px;">
      <ul class="details-list" style="position: inherit; left: 10%; font-size: 25px; min-width: 70%; margin-top: ;">
        <li class="details-element">
          <h1 style="font-family: LeagueSpartan_Bold; top: 5%; position: inherit; left: 5%; font-size: 35px; margin-bottom: 0; margin-left: -13%;">{{producto.nombre}}</h1>
          <h2 style="font-family: Monserrat_Light; top: 10%; position: inherit; left: 5%; font-size: 14px;">Categoria &nbsp; > &nbsp; Subcategoría1 &nbsp; > &nbsp; Subcategoría2</h2>
        </li>
        <li class="details-element" >
        <h3 style="font-family: 'Lato', sans-serif; font-size: 25px;">
          Tamaño: 
        </h3>

        <span>
          <ul class="details-list">
            <li class="details-element">
              
              <h3 style="font-family: 'Lato', sans-serif; font-size: 20px;"><i class="fas fa-arrows-alt-v"></i> Alto: <span>{{producto?.dimensiones?.altura}}</span></h3>
            </li>
            <li class="details-element">
              <h3 style="font-family: 'Lato', sans-serif; font-size: 20px;"><i class="fas fa-arrows-alt-h"></i> Largo: <span>{{producto?.dimensiones?.largo}}</span></h3>
            </li>
            <li class="details-element">
              <h3 style="font-family: 'Lato', sans-serif; font-size: 20px;"><i class="fas fa-expand-alt"></i> Ancho: <span>{{producto?.dimensiones?.anchura}}</span></h3>
            </li>
          </ul>
        </span>
        </li>
        <li class="details-element">
          <h3 style="font-family: 'Lato', sans-serif; font-size: 20px;">
            Unidades: <span style="font-family: 'Lato', sans-serif">{{producto.unidades}}</span>
          </h3>
        </li>
        <li class="details-element">
          <input disabled class="form-control" style="margin-right: 100px; font-family: 'Lato', sans-serif" type="search" [(ngModel)]="producto.strTags" id="example-search-input">
        </li>
        <li class="details-element" style="margin: 0;">
          <button mat-button style="margin-top: 30px; background-color: #9fdfe8; min-height: 70px; min-width: 100%;"><i class="fas fa-clipboard-check" style="font-size: 34px;margin-bottom: 5px;"></i>&nbsp; &nbsp; &nbsp; Añadir a mi lista</button>
        </li>
      </ul>
    </mat-grid-tile>
    <!--mat-grid-tile
    [colspan]="10"
    [rowspan]="2"
    [style.background]="'lightgreen'">
    Detalles2
</mat-grid-tile-->
  </mat-grid-list>

  <mat-grid-list cols="10" rowHeight="1:1.5" gutterSize="10px" style="margin-top: 1%; min-height: 200px;">
    <mat-grid-tile [colspan]="6" [rowspan]="1"  style="border-radius: 10px;">
      <mat-card style=" height: 99%; padding: 12px;">
        <img *ngIf="producto?.img" src="{{producto?.img[0]}}" height="100%" style="padding: 0.3%;">
        <img *ngIf="producto?.img" src="{{producto?.img[1]}}" height="100%" style="padding: 0.3%;"> 
        <img *ngIf="producto?.img" src="{{producto?.img[2]}}" height="100%" style="padding: 0.3%;">

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1"  style="border-radius: 10px;">
      <mat-card style="width: 99%; height: 99%; font-family: 'Lato', sans-serif; text-decoration: underline; font-size: 19px;">
        <p>Notas de Atrezzo:</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



  <!--div style="background-color: coral; height: 100%; margin-top: 10px;">
      description
  </div-->
</section>
