<!--span style ="width:100%; height: 83.3vh;">hola</span-->

<!--section class="background-main-display" style="width: 100vh">
    <app-producto *ngFor="let p of productosAuxiliar;let i = index" [attr.data-index]="i" [p]="p" class="product" (click)="openProduct(p._id)"></app-producto>
<section-->

<section class="background-main-display">
        <mat-grid-list cols="3" rowHeight="1.5:1" gutterSize="7px" style="margin:5px;">
            <mat-grid-tile *ngFor="let producto of productos" routerLink="product/{{producto._id}}" class="mouse-pointer" style="border-radius: 4px; background-size: 100%; background: #F5F5F5; background-image: url({{producto.img[0]}});">
                <div class="description" style="justify-content: space-between; display: flex;">
                    <div class="row">
                        {{producto.nombre}}
                    </div>

                    <span>
                        {{producto.dimensiones?.altura}}x{{producto.dimensiones?.anchura}}x{{producto.dimensiones?.profundidad}} (cm)
                    </span>
                </div>
        </mat-grid-tile>
    </mat-grid-list>
<section>