.background-main-display {
    background-color: #E6E6E6;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 88%;
}

.product{
    margin: 10px; 
}


:host { width:100% } 

mat-grid-tile {
    background: lightblue;
  }
  
  .description {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    min-height: 15%;
    color: #eee;
    padding: 10px 20px 0px 20px;
    background-color: #333;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
  }